.form {
  margin 0 auto
  display flex;
  width: 360px;
  height: 345px;
  left: 972px;
  top: 355px;
  flex-direction column


}

.form__title {

  width: 96px;
  height: 52px;
  left: 0px;
  top: -10px;


  font-family: Golos;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;


}

.form__message {

  width: 283px;
  height: 24px;
  left: 32px;
  top: 54px;


  font-family: Golos;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;


  display: flex;
  align-items: center;


  color: #FF4444;
}

.form__input {
  margin 10px
  height: 52px;
  left: 0%;
  right: 0%;
  top: 177px;


  border: 1px solid #4972FF;
  box-sizing: border-box;
  border-radius: 6px;


}


.form__submit {


  margin 10px
  height: 52px;
  left: 0%;
  right: 0%;
  top: 177px;

  color: #fff
  background: #4972FF;
  border-radius: 6px;
  border-width: 0px;


}

  .form__ques {
    width: 256px;
    height: 21px;
    left: 2px;
    top: 321px;



    font-family: Golos;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;


    color: #6E7588;
  }

    .form__click {
      color: #4972FF

    }
