<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a class="step" routerLink="/first-component" routerLinkActive="active">First Component</a></li>
    <li><a class="step" routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
    <li><a class="step" routerLink="/form-component" routerLinkActive="active">Form Component</a> </li>
    <li><a class="step" routerLink="/photo-component" routerLinkActive="active">Photo Component</a> </li>
    <li><a class="step" routerLink="/click-me-component" routerLinkActive="active">ClickMe Component</a> </li>
  </ul>
</nav>

<router-outlet></router-outlet>
