.block {
  display flex
  flex-wrap wrap
}

.block__elem1 {
  width 20%
  margin 20px
  min-height 250px
  display flex
  flex-direction column

}

.block__elem2 {
  font-family Candara
  color darkgrey
}

.block__elem3 {
  width 100%
  margin 0 0 10px
}
.block__elem3:hover {
  width 100%
  margin 0 0 10px
  opacity .5
}
